/* ### FONTS ###*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('font-awesome.min.css');
@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('../assets/fonts/glyphicons-halflings-regular.eot');
    src: url('../assets/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../assets/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../assets/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
h1{font-size:4em}
h2, .h2{font-size:3em}
h3, .h3{font-size:2em}

video{
    width:100%;
}
@media (max-width: 43.75em) {
    h1{font-size:3em}
    h2, .h2{font-size:2em}
    h3, .h3{font-size:1.5em}
    video{
        height:100vh;
    }
    .desktop-only{
        visibility: hidden;
    }
    .mobile-fill{
        height:calc(100%-104px);
    }
    .mobile-default{
        display:;
    }
    .desktop-default{
        display:none;
    }
    .col-mobile-0{
        display:none;
    }
    .col-mobile-1{
        display:inline-block;
        width:47.5%; 
        vertical-align:top;
    }
    .col-mobile-2{
        display:inline-block;
        width:95%; 
        vertical-align:top;
    }
}
@media (min-width: 43.75em){
    .desktop-default{
        display:;
    }
    .mobile-default{
        display:none;
    }
    .col-desktop-0{
        display:none;
    }
    .col-desktop-1{
        display:inline-block;
        width:47.5%; 
        vertical-align:top;
    }
    .col-desktop-2{
        display:inline-block;
        width:95%; 
        vertical-align:top;
    }
}
.hidden{
    display:none;
}
.shown{
    display;
}
@media (max-width: 36em) {
    h1{font-size:2.3em}
    h2, .h2{font-size:1.75em}
    h3, .h3{font-size:1.25em}
}

/* ### FORMATTING ### */
*{
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}
.content{
    max-height: 100vh;
    width:100vw;
    overflow:hidden;
    overflow-y:hidden;
}

.toggle-chart-table{
    position:relative;
    height:100vh;
}
.back-top-top-btn{

}
.tabs{
    position:absolute;
    bottom:0;
    width:100%;
    text-align: center;
    z-index:5;
    font-size: 2em;
    background: #E51837;
}
.tabs > li{
    width:30%;
    padding:10px;
    max-height:42px;
    background:none;
    border:white thin solid;
}
.chartbtn:before{
}
.tablebtn:before{
}
.tabs > li:hover, .tabs > li:focus{
    background: rgba(0,0,0,0.5);
    cursor:pointer;
}
.tabs > .selected {
    background: rgba(0,0,0,0.7);
}

.handles{
    list-style:none;
}
.handles > li{
    display:inline-block;
    cursor:pointer;
}
.splash > h2{
    background: #E51837;
    position:absolute;
    top:-62px;
    width:100%;
    z-index: 5;
}
#table > ul{
    padding-top:100px;
}

.row {
    width:100%;
}

/* ### DEFAULT SECTION ### */
section{
    color: #FFFFFF;
    height:100vh;
    width:100vw;
    position: relative;
    overflow-y:hidden;
    overflow-x:hidden;
}
.section-content{
    padding: 30vh 10vw;
    height:100vh;
    text-align: center;
}
.container{
    overflow-y: scroll;
    overflow-x:hidden;
    position:relative;
}
.container-inner{
    position: absolute;
    width: 100%; height: auto;
}
/* ### RESULT PAGE ### */
.splash{
    margin:0; padding:0;
    background: #E51837;
    position:relative;
}
#chart,#table{
    width: 100vw;
    height:100%;
    background-color:#E51837;
}
#table{
    overflow-y:scroll;
    overflow-x:hidden;
}
#info{
    background: #fff;
    z-index:1000;
    border: thin rgba(0,0,0,1) solid;
    position:absolute;
    top:50vh;
    left:50vw;
    padding:0;
    width:0;
    height:0;
    color:black;
    font-size:120%;
    overflow-x:hidden;
    overflow-y:auto;
    -webkit-animation: hidedesc 0.5s cubic-bezier(.16,.84,.44,1) 0.6 forwards;
    -moz-animation: hidedesc 0.5s cubic-bezier(.16,.84,.44,1) 0.6 forwards;
    -o-animation: hidedesc 0.5s cubic-bezier(.16,.84,.44,1) 0.6 forwards;

}
#highcharts-container{
    max-height:80vh;
}
#info.show, #info.resized{
    position:absolute;
    top: 10%; left:10%;
    width:80%;
    height:80%;
    padding:15px;
    -webkit-animation: showdesc 0.5s cubic-bezier(.16,.84,.44,1) 0.6 forwards;
    -moz-animation: showdesc 0.5s cubic-bezier(.16,.84,.44,1) 0.6forwards;
    -o-animation: showdesc 0.5s cubic-bezier(.16,.84,.44,1) 0.6 forwards;

}
#info > .closebtn{
    position: absolute;
    top:25px;
    right:50px;
    cursor: pointer;
    background:transparent;
    border:none;
}
#info > .closebtn:after{
    font-family: 'Glyphicons Halflings';
    font-size:2em;
    content: "\e014";
}
#info > h1.piesection-name{
    text-align: center;
}

#restart-btn{
    border: white medium solid;
    color: #E51837;
    opacity:0.75;
    background:white;
    padding:15px;
}
#restart-btn:hover{
    opacity:1;
}
/* ### LANDING PAGE ### */


.section-title > .section-content{
    background:rgba(0,0,0,0.5);
}
.section-title button{
    border: thick white solid;
    color: white;
    background: transparent;
    padding:15px;
    margin:15px;
    min-width:300px;
    min-height: 100px;
    margin-top:100px;
}
.section-title button:hover, .section-title button:focus{
    background: rgba(0, 0, 0, 0.5);
}
.section-title button:active, .section-title .selected{
    background: rgba(0, 0, 0, 0.7);
}

/* ### FORM SECTION ### */
.form{
    background-color:#E51837;
}
.form > section {
    height:100vh;
    display:none;
}

.form button {
    border: thick #E51837 solid;
    color: #E51837;
    background: white;
    padding:15px;
    margin:15px;
    min-width:300px;

}
.gridlink{
    position:relative;
}
.form button:hover, .form button:focus, .gridlink:hover, .gridlink:focus{
    background: rgba(255, 255, 255, 0.7);
    cursor:pointer;
}
.form button:active, .form .selected, .gridlink:active{
    background: #E51837;
    color:white;
}

.gridlink-overlay{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    opacity:0.2;
    background-color:black;
    height:100%;
}

/* ### PAGE INDICATOR ### */
.page-indicator{
    position: absolute;
    right: 0;
    top: 45vh;
    list-style: none;
}
.page-indicator li{
    border-radius: 10px;
    background: #888888;
    min-width: 10px;
    min-height: 10px;
    margin: 15px;
}
.page-indicator li#active{
    background:#FFFFFF;
    margin: 15px;
}

/* ### ANIMATIONS ### */
@-webkit-keyframes showdesc {
    0% {
        transform:scale(0,0);
        opacity:0;
    }
    100% {
        transform:scale(1,1);
        opacity:1;
    }
}
@-moz-keyframes showdesc {
    0% {
        transform:scale(0,0);
        opacity:0;
    }
    100% {
        transform:scale(1,1);
        opacity:1;
    }
}
}
@-o-keyframes showdesc {
    0% {
        transform:scale(0,0);
        opacity:0;
    }
    100% {
        transform:scale(1,1);
        opacity:1;
    }
}
}

@-webkit-keyframes hidedesc {
    100% {
        transform:scale(0,0);
        opacity:1;
    }
    0% {
        transform:scale(1,1);
        opacity:0;
    }
}
}
@-moz-keyframes hidedesc {
    100% {
        transform:scale(0,0);
        opacity:1;
    }
    0% {
        transform:scale(1,1);
        opacity:0;
    }
}
@-o-keyframes hidedesc {
    100% {
        transform:scale(0,0);
        opacity:1;
    }
    0% {
        transform:scale(1,1);
        opacity:0;
    }
}
/*video_background {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 2000px;
	height: 2000px;

	overflow: hidden;
	background-size: cover;
}*/
video#bgvid {
	position: fixed; left:-10%; bottom: 0; z-index: -100;
    min-width:100%;
    min-height: 100%;
    height:auto;
    width:auto;
	background: url(/assets/images/mckeldin.png) cover;
}

/* ### GRIDLINK ### */
.gridlink {
    width: 80vw;
    text-align: center;
    margin: 0 10vw;
    padding:30px 0;
    position:relative;
    border: none;
    color: #E51837;
    background: white;
    display:inline-block;
    overflow-y: hidden;
    overflow-x: hidden;
}