/* ### FONTS ###*/
@import url('http://fonts.googleapis.com/css?family=PT+Sans');
@import url('font-awesome.min.css');
@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('../assets/fonts/glyphicons-halflings-regular.eot');
    src: url('../assets/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../assets/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../assets/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
h1{font-size:4em}
h2, .h2{font-size:3em}
h3, .h3{font-size:2em}

/* ### FORMATTING ### */
*{
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}
.content{
    max-height: 100vh;
    width:100vw;
    overflow:hidden;
    overflow-y:hidden;
}

.toggle-chart-table{
    position:relative;
    height:100vh;
}

.tabs{
    position:absolute;
    bottom:0;
    width:100%;
    text-align: center;
    z-index:5;
    font-size: 2em;
    background: #E51837;
}
.tabs > li{
    width:30%;
}
.chartbtn:before{
}
.tablebtn:before{
}
.tabs > li:hover, .tabs > li:focus{
    background: #888888;
    cursor:pointer;
    padding:0; margin:0;
}
.tabs > .selected {
    background: #888888;
}

.handles{
    list-style:none;
}
.handles > li{
    display:inline-block;
}
#table > h2{
    background: #E51837;
    position:absolute;
    width:100%;
    z-index: 5;
}
#table > ul{
    padding-top:100px;
}

.row {
    width:100%;
}

/* ### DEFAULT SECTION ### */
section{
    color: #FFFFFF;
    height:100vh;
    width:100vw;
    position: relative;
    overflow-y:hidden;
    overflow-x:hidden;
}
.section-content{
    padding: 30vh 10vw;
    height:100vh;
    text-align: center;
}

/* ### RESULT PAGE ### */
.splash{
    margin:0; padding:0;
    background: E51837;
}
#chart,#table{
    width: 100vw;
    height:calc(100vh - 42px);
    background-color:#E51837;
    overflow-x:hidden;
}
#table{
    overflow-y:auto;
    overflow-x:hidden;
}
#info{
    background: rgba(0,0,0,0.7);
    z-index:1;
    border: thin rgba(255,255,255,0.5) solid;
    position:absolute;
    top:50vh;
    left:50vw;
    padding:0;
    width:0;
    height:0;
    overflow-x:hidden;
    overflow-y:hidden;
    -webkit-animation: hidedesc 0.15s cubic-bezier(.16,.84,.44,1) 1 forwards;
    -moz-animation: hidedesc 0.15s cubic-bezier(.16,.84,.44,1) 1 forwards;
    -o-animation: hidedesc 0.15s cubic-bezier(.16,.84,.44,1) 1 forwards;

}
#info.show{
    margin: -40vh 0 0 -40vw;
    width:80vw;
    height:80vh;
    padding:15px;
    -webkit-animation: showdesc 0.15s cubic-bezier(.16,.84,.44,1) 1 forwards;
    -moz-animation: showdesc 0.15s cubic-bezier(.16,.84,.44,1) 1 forwards;
    -o-animation: showdesc 0.15s cubic-bezier(.16,.84,.44,1) 1 forwards;

}
#info > .closebtn{
    position: absolute;
    top:5px;
    right:5px;
    cursor: pointer;
    background:transparent;
    border:none;
    color:white;
}
#info > .closebtn:after{
    font-family: 'Glyphicons Halflings';
    font-size:2em;
    content: "\e014";
}


/* ### LANDING PAGE ### */

.section-title > .section-content{
    background:rgba(0,0,0,0.5);
}
.section-title button{
    border: thick white solid;
    color: white;
    background: transparent;
    padding:15px;
    margin:15px;
    min-width:300px;
    min-height: 100px;
    margin-top:100px;
}
.section-title button:hover, .section-title button:focus{
    background: rgba(0, 0, 0, 0.5);
}
.section-title button:active, .section-title .selected{
    background: rgba(0, 0, 0, 0.7);
}

/* ### FORM SECTION ### */
.form{
    background-color:#E51837;
}
.form > section {
    height:100vh;
    display:none;
}

.form button {
    border: thick #E51837 solid;
    color: #E51837;
    background: white;
    padding:15px;
    margin:15px;
    min-width:300px;

}
.form button:hover, .form button:focus, .gridlink:hover, .gridlink:focus{
    background: rgba(255, 255, 255, 0.7);
}
.form button:active, .form .selected, .gridlink:active{
    background: #E51837;
    color:white;
    border: white;
}

/* ### PAGE INDICATOR ### */
.page-indicator{
    position: absolute;
    right: 0;
    top: 45vh;
    list-style: none;
}
.page-indicator li{
    border-radius: 10px;
    background: #888888;
    min-width: 10px;
    min-height: 10px;
    margin: 15px;
}
.page-indicator li#active{
    background:#FFFFFF;
    margin: 15px;
}

/* ### ANIMATIONS ### */
@-webkit-keyframes showdesc {
    0% {
        margin: 0;
        width:0;
        height:0;
        opacity:0;
    }
    100% {
        margin: -40vh 0 0 -40vw;
        width:80vw;
        height:80vh;
        opacity:1;
    }
}
@-moz-keyframes showdesc {
    0% {
        margin: 0;
        width:0;
        height:0;
        opacity:0;
    }
    100% {
        margin: -40vh 0 0 -40vw;
        width:80vw;
        height:80vh;
        opacity:1;
    }
}
@-o-keyframes showdesc {
    0% {
        margin: 0;
        width:0;
        height:0;
        opacity:0;
    }
    100% {
        margin: -40vh 0 0 -40vw;
        width:80vw;
        height:80vh;
        opacity: 1;
    }
}

@-webkit-keyframes hidedesc {
    100% {
        margin: 0;
        width:0;
        height:0;
        opacity:0;
    }
    0% {
        margin: -40vh 0 0 -40vw;
        width:80vw;
        height:80vh;
        opacity:1;
    }
}
@-moz-keyframes hidedesc {
    100% {
        margin: 0;
        width:0;
        height:0;
        opacity:0;
    }
    0% {
        margin: -40vh 0 0 -40vw;
        width:80vw;
        height:80vh;
        opacity:1;
    }
}
@-o-keyframes hidedesc {
    100% {
        margin: 0;
        width:0;
        height:0;
        opacity:0;
    }
    0% {
        margin: -40vh 0 0 -40vw;
        width:80vw;
        height:80vh;
        opacity:1;
    }
}
/*video_background {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 2000px;
	height: 2000px;

	overflow: hidden;
	background-size: cover;
}*/
video#bgvid {
	position: fixed; right: 0; bottom: 0;
	min-width: 100vw; min-height: 100vh;
	width: auto; height: auto; z-index: -100;
	background: url(/assets/images/mckeldin.png) cover;
}

/* ### GRIDLINK ### */
.gridlink {
    width: 80vw;
    font-size:3em;
    text-align: center;
    margin: 0 10vw;
    padding:30px 0;
    position:relative;
    border: none;
    color: #E51837;
    background: white;
    display:inline-block;
    overflow-y: hidden;
    overflow-x: hidden;
}