<!DOCTYPE html>
<html ng-app="app">
    <head lang="en">
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="css/styles.css" />

    </head>

    <body ng-controller="formCTRL">
        <div class="content">
            <section class="section-title">
                <div class="section-content">
                   
					<!--<video id="video_background" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0"> 
					<source src="videos/ocean.webm" type="video/webm"> 
					<source src="videos/ocean.mp4" type="video/mp4"> 
					Video not supported </video>-->
					<video autoplay loop poster="assets/videos/cover.png" id="bgvid">
                        <source src="assets/videos/mckeldin.webm" type="video/webm">
                        <source src="assets/videos/mckeldin.mp4" type="video/mp4">
					</video>
					
					<h4>The Diamondback | Spring 2015</h4>
                    <h1>WHERE DO YOUR STUDENT FEES GO?</h1>
                    <h6>Powered by The Diamondback Lab in partnership with the University of Maryland Student Government Association</h6>
					
                    <button ng-click="start()"><h2>START</h2></button>
                </div>
            </section>
            <div class="form" >
                <ul class="page-indicator">
                    <li ng-repeat = "node in nodes track by $index" class="indicator{{$index}}"></li>
                </ul>
                <section ng-repeat="node in nodes track by $index" class="item{{$index}}">
                    <div class="section-content">
                        <h2>{{node.q}}</h2>
                        <button ng-repeat="btn in node.ans track by $index" ng-click="proceed(nodes[$parent.$index], $index)"><h3>{{btn}}</h3></button>
                    </div>
                </section>
            </div>
            <section class="splash" id="splash">
                <div class="toggle-chart-table" style="display:table;height:100%">
                    <div class="title-div" style="display:table-row;height:52px; background-color:rgba(0,0,0,0.2); border-bottom:thin white solid">
                        <h2 style="text-align:center;width:100vw"></h2>
                    </div>
                    <div class="container mobile-fill" style="display:table-row; height:auto; overflow-y:scroll;">
                        <div class="container-inner">
                            <div id="chart" style="">
                            </div>  
                        </div>
                        <div id="table">
                            <div class="table" style="padding-bottom:62px">
                                <ul class="handles">
                                    <li ng-repeat="d in data track by $index"><a ng-click="show($index)"><div class="gridlink"><h2>{{d.name}}</h2><div class="gridlink-overlay" style="width:{{d.y/TOTAL_STUDENT_FUNDS * 100}}%"></div></div></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="resulttabs" style="display:table-row;height:62px ">
                        <ul class="handles tabs desktop-only" id="resulttabs" style="background-color:rgba(0,0,0,0.2);overflow-x:hidden;">
                            <li class="selected" onclick="toggle(0)"><i class="fa fa-pie-chart"></i>&nbsp;&nbsp;Chart</li>
                            <li onclick="toggle(1)"><i class="fa fa-table"></i>&nbsp;&nbsp;Table</li>
                        </ul>
                    </div>
                </div>
                <div id="info">
                    <button class="closebtn"></button>
                    <h1 class="piesection-name"></h1>
                    <ul class="handles">
                        <li class="student-pays-text row">You pay:<span class="h2"></span> (<span class="h3"></span> of your student fees)</li>
                        <li class="total-funds-text row">This department gets <span class="h2"></span> from mandatory fees, which is <span class="h3"></span> of their budget.</li>
                        <li>
                            <ul class="handles table">
                                <li><h2>Top 3 Expenses</h2></li>
                                <li><h2>SGA TEXT GOES HERE</h2></li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </section>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="http://code.highcharts.com/modules/exporting.js"></script>
        <script src="js/jquery.konami.min.js"></script>
        
        <script src="js/main.js"></script>


    </body>
</html>