<!DOCTYPE html>
<html ng-app="app">
    <head lang="en">
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="css/styles.css" />

    </head>

    <body ng-controller="formCTRL">
        <div class="content">
            <section class="section-title">
                <div class="section-content">
                   
					<!--<video id="video_background" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0"> 
					<source src="videos/ocean.webm" type="video/webm"> 
					<source src="videos/ocean.mp4" type="video/mp4"> 
					Video not supported </video>-->
					<video autoplay loop poster="assets/videos/ocean.jpg" id="bgvid">
                        <source src="assets/videos/ocean.webm" type="video/webm">
                        <source src="assets/videos/ocean.mp4" type="video/mp4">
					</video>
					
					<h4>Spring 2015</h4>
                    <h1>WHERE DO YOUR STUDENT FEES GO?</h1>
                    <h6>Powered by The Diamondback Lab in partnership with the University of Maryland SGA</h6>
					
                    <button ng-click="start()"><h2>START</h2></button>
                </div>
            </section>
            <div class="form" >
                <ul class="page-indicator">
                    <li ng-repeat = "node in nodes track by $index" class="indicator{{$index}}"></li>
                </ul>
                <section ng-repeat="node in nodes track by $index" class="item{{$index}}">
                    <div class="section-content">
                        <h2>{{node.q}}</h2>
                        <button ng-repeat="btn in node.ans track by $index" ng-click="proceed(nodes[$parent.$index], $index)"><h3>{{btn}}</h3></button>
                    </div>
                </section>
            </div>
            <section class="splash" id="splash">
                <div class="toggle-chart-table">
                    <ul class="handles tabs" id="resulttabs">
                        <li onclick="toggle(0)">Pie</li>
                        <li class="selected" onclick="toggle(1)">Table</li>
                    </ul>
                    <div id="chart" style="display:none"></div>
                    <div id="table" style="">
                        <h2>Table Table Table</h2>
                    </div>
                </div>
                <div id="info">
                    <button class="closebtn"></button>
                    <h1 class="piesection-name"></h1>
                    <h2>text text text</h2>
                    <h2>text text text</h2>
                    <h2>text text text</h2>

                </div>
            </section>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="http://code.highcharts.com/modules/exporting.js"></script>

        <script src="js/main.js"></script>


    </body>
</html>