<!DOCTYPE html>
<html ng-app="app">
    <head lang="en">
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="css/styles.css" />

    </head>

    <body ng-controller="formCTRL">
        <div class="content">
            <section class="section-title">
                <div class="section-content">
                    <h4>Some text</h4>
                    <h1>Student Funds</h1>
                    <h5>Brought to you by Diamondback Lab</h5>
                    <button ng-click="start()"><h2>Start</h2></button>
                </div>
            </section>
            <div class="form" >
                <ul class="page-indicator">
                    <li ng-repeat = "node in nodes track by $index" class="indicator{{$index}}"></li>
                </ul>
                <section ng-repeat="node in nodes track by $index" class="item{{$index}}">
                    <div class="section-content">
                        <h2>{{node.q}}</h2>
                        <button ng-repeat="btn in node.ans track by $index" ng-click="proceed(nodes[$parent.$index], $index)"><h3>{{btn}}</h3></button>
                    </div>
                </section>
            </div>
            <section class="splash" id="splash">
                <div id="chart"></div>
                <div id="info">
                    <h1 class="piesection-name"></h1>
                    <h2>text text text</h2>
                    <h2>text text text</h2>
                    <h2>text text text</h2>

                </div>
            </section>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="http://code.highcharts.com/modules/exporting.js"></script>

        <script src="js/main.js"></script>


    </body>
</html>